<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="./img/asd.jpeg" alt="Muhammad Akram Azkia" class="img-thumbnail rounded-circle" width="200">
            <h1 class="display-4">Muhammad Akram Azkia</h1>
            <p>Student | Programmer</p>
        </div>
    </div>
</div>


